.auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #0f1010; /* Dark background */
    color: white; /* White text */
    font-family: 'Arial', sans-serif; /* Default font */
    position: relative; /* Make the container relative for absolute positioning of footer */
}

.form-container {
    flex-grow: 1; /* Take up available space */
    margin-bottom: 20%; /* This ensures 20% of the height is reserved for the footer */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 20%; /* Footer takes up 20% of the height */
    background-color: #333; /* Dark footer background */
    position: absolute;
    bottom: 0;
    width: 100%;
}
